


.tituloFormTema{
    font-weight: bold !important ;
    font-family: 'Macondo' !important;
    font-size: 60px !important;
    color: #ff4500!important;
    padding-top: 40px !important;
}

.backFormTema {

    background-image: url("../../../assets/images/R.jpg");
    background-color: blue;
    background-position: cover !important;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;

}

.btnFinalizar{

    align-items:  center ! important;
}

.cor
{

    background-color: rgba(187, 217, 217, 0.568);

}

.textFieldTema {

color:blue !important;
align-items: center;

}